body{
  overflow:hidden;
}

#game{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

#board-container{
  flex:4 4;
  height:90vh;
  text-align:center;
}

#hud{
  padding:20px;
  flex:3 3;
}

#chat-container{
  margin-bottom:20px;
}

#chat{
  overflow-x:hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid #000;
  height:200px;
  padding:15px;
}

#chat-dropdown{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border:1px solid #000;
  border-top: none;
}

/*
.message{
  display: inline-block;
  position: relative;
  height: auto;
  background-color: #FFF;
  border: 1px solid #000;
   border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top:5px;
  padding:8px;
}


.message:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: auto;
  top: -1px;
  bottom: auto;
  border: 14px solid;
  border-color: #000 transparent transparent transparent;
}

.message:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 15px solid;
  border-color: #FFF transparent transparent transparent;
}
*/

.message{
  display: inline-block;
  position: relative;
  height: auto;
  color:#FFF;
  margin-top:5px;
  padding:8px 10px;
  border-radius: 5px;
  box-shadow:-1px 1px 2px 0 #666;
}

.message:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 15px solid;
  border-color: #dadada transparent transparent transparent;
}

.message.red{background:#b30000;}
.message.blue{background:#002db3;}

.message.red:after{border-color: #b30000 transparent transparent transparent;}
.message.blue:after{border-color: #002db3 transparent transparent transparent;}

.message.owner:before{right: -15px;}
.message.owner:after{right: -12px;}

.message.opponent{
  align-self: flex-start;
  box-shadow: 1px 1px 2px 0 #666;
}

.message.opponent:before{left:-15px;}
.message.opponent:after{left: -12px;}

/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

#board{display: inline-block;}
#board.flipped{transform:rotate(180deg);}
#board:after{clear:both;}

#display-turn{
  font-size:35px;
  line-height:1em;
  margin-bottom:15px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.square{
  float:left;
  position: relative;
  display: flex;
  /*z-index:1;*/
}

.square.black{background:black;}
.square.white{background:white;}


.square.possible-move{
  box-shadow:inset 0 0 0 5px gold;
}
.square.possible-move:hover{
  cursor: pointer;
}

.checker{
  width:100%;
  height:100%;
  display: flex;
  transition:all .3s;
  z-index:1;
}

.checker-piece{
  height:75%;
  width:75%;
  border-radius:100%;
  margin:auto;
  position:relative;
}

.checker-piece:before{
  content:'';
  width:100%;
  height:100%;
  border-radius:100%;
  position:absolute;
  left:0;
  top:0;
  transform:translate(-5%,2%);
  z-index:-1;
}

#board.flipped .checker-piece:before{
  transform:translate(5%,-2%);
}

.checker.owner:hover{cursor: pointer;}

.checker.red .checker-piece{background:#b30000;box-shadow:inset 0 0 15px 5px #660000;}
.checker.red .checker-piece:before{background:#4d0000;}
.checker.blue .checker-piece{background:#002db3;box-shadow:inset 0 0 15px 5px #002080;}
.checker.blue .checker-piece:before{background:#00134d;}


.checker.moving{
  transform:translateY(-10%);
}

.checker.king .checker-piece:after{
  content:'\e211';
  font-family:'Glyphicons Halflings';
  font-size:2vw;
  color:#FFF;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}


#board.flipped .checker.moving{
  transform:translateY(10%);
}

#board.flipped .checker.king .checker-piece:after{
  transform:translate(-50%, -50%) rotate(180deg);
}




#footer{
  height:15vh;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.7);
  color:#FFF;
  z-index:1000;
}

#results-container{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  font-size:50px;
  text-align:center;
}

/*used for troubleshooting */

/*
body{counter-reset:squareCount -1 checkerCount -1;}

.square:before{
  position: absolute;
  content: counter(squareCount);
  counter-increment: squareCount;
}
.square.black:before{color:#FFF;}

.checker:before{
  position: absolute;
  content: counter(checkerCount);
  counter-increment: checkerCount;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color:#FFF;
}
*/
